@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(7, 9, 12);
    color: rgb(255, 255, 255);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    border: 2px groove;
}